/* ---------------------------------------------- /*
 * Global
/* ---------------------------------------------- */

:root {
    --orange:#d1582b;
    --grey:#bba69d;
}

* {
    font-family: 'Exo', sans-serif;
    padding:0;
    border:0;
    margin:0;
    line-height: 1.4em;
}

h1, h2, h3 {
    font-weight:300;
}

p {
    font-size:14px;
}

header, nav {
    display: flex;
    justify-content: center;
}

/* ---------------------------------------------- /*
 * Header
/* ---------------------------------------------- */

header {
    padding:20px;
}

header h1 a {
    text-decoration: none;
    color: var(--grey);
    letter-spacing:0.2em;
    font-weight:500;
}

.lower_case {
    font-size:24px;
}

/* ---------------------------------------------- /*
 * Search
/* ---------------------------------------------- */

#header-icons {
    position:absolute;
    margin-top:10px;
    margin-right:10px;
    right:0;
}

#header-icon a, #invoice-icon {
    padding:8px;
    color:var(--grey);
}

#search-icon {
    border:1px solid var(--grey);
    border-radius:100%;
    padding:8px;
    color:var(--grey);
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

nav ul {
    list-style:none;
    padding:0;
}

nav ul li {
    display:inline-block;
    padding:10px 20px;
}

nav ul li a {
    text-decoration:none;
    color:black;
    padding:10px 30px;
    font-family: 'Exo', sans-serif ;
}

nav svg {
    font-size:12px !important;
}

nav ul li a:hover {
    background-color:var(--orange);
}

.dropdown {
    background: var(--grey);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.5rem;
    display: none;
    width:235px;
    z-index:4;
}

nav ul li:hover > ul,
.dropdown:hover {
    visibility: visible;
    opacity: 1;
    display:block;
}

.dropdown li {
	clear: both;
    width: 100%;
    padding:10px 0;
}

#invoice-icon {
    font-size:18px !important;
}

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#social {
    background-color:var(--grey);
    padding: 20px;
    justify-content: center;
    font-size:50px;
}

#social div {
    width: 100px;
}

#social div a {
    text-decoration:none;
    color:var(--orange);
    font-weight:1000;
}

footer {
    padding:20px;
    font-size:14px;
}

#footer-lists {
    display:flex;
    justify-content: space-evenly;
}

.list {
    width:20%;
}

.list h3 {
    font-weight:600;
    color:var(--orange);
}

.list ul {
    padding: 10px;
    padding-left:0;
    padding-top:15px;
    list-style:none;
}

.list ul li {
    padding-bottom:10px;
}

.list svg {
    margin-right: 10px;
    color:var(--orange);
}

.list ul li a {
    text-decoration:none;
    color:black;
}

.list ul li a:hover {
    text-decoration:underline;
}

#copy {
    font-size:12px;
    border-top: 2px solid var(--grey);
    padding: 10px 0;
}
