/* ---------------------------------------------- /*
 * Global
/* ---------------------------------------------- */
:root {
    --orange:#d1582b;
    --grey:#bba69d;
    --lightgrey:#efeae8;
}

.container {
    max-width:1024px;
    margin:0 auto;
}

.center {
    text-align: center;
}

.header {
    padding:30px 200px !important;
}

.header, #call-to-action, .product-header {
    background-color:var(--orange);
    color:white;
    padding:50px;
    opacity:0.8;
}

.body {
    padding:20px;
    text-align:justify;
    font-size:14px;
}

.large-body {
    font-size:18px;
}

.separator {
    border-top:1px solid var(--grey);
}

.flex {
    display:flex;
}

.space_between {
    justify-content: space-between;
}

.btn {
    background-color:#CC9ECC;
    border-radius: 10px;
    color:white;
}

/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

#carousel {
    background-color:var(--grey);
    height:500px;
    width:100%;
    align-items: center;
    font-size:50px;
}

#carousel svg {
    padding:20px;
}

#home-intro {
    padding:50px 0;
}

#home-intro h2 {
    font-weight:300;
    font-size:30px;
}

#home-intro p {
    padding-top:20px;
    line-height: 1.5rem;
}

#call-to-action div {
    margin:0 auto;
    width:390px;
    font-size:22px;
    font-weight:500;
}

#call-to-action a {
    margin-left:50px;
    text-decoration:none;
    padding:15px 40px;
    font-size:16px;
}

#call-to-action a:hover {
    background-color:var(--grey);
}

#featured {
    padding-top:3em;
}

.product-container {
    flex-wrap:wrap;
    align-content:space-between;
}

/* ---------------------------------------------- /*
 * About
/* ---------------------------------------------- */

.about-body {
    width:70%;
    line-height: 1.5em;
}

.about-body h2 {
    color:var(--orange);
    padding-bottom:10px;
}

.date {
    margin-bottom:2em;
}

.thumb {
    width:25%;
    border:1px solid var(--grey);
    height:246px;
}

.history-info {
    width:70%;
}

.history-info h2 {
    color:var(--orange);
}

/* ---------------------------------------------- /*
 * About Kangaroo
/* ---------------------------------------------- */

#kangaroo-video {
    background-color:lightgray;
    height:300px;
    margin:20px;
}

#features {
    background-color:lightgray;
    text-align:left;
}

.feature {
    width:30%;
    padding:10px;
}

#features h3 {
    padding:10px 0;
}

.kangaroo-image {
    width:25%;
}

#kangaroo {
    width:100%;
}

/* ---------------------------------------------- /*
 * Shop
/* ---------------------------------------------- */

#filter {
    border-bottom:1px solid var(--grey);
    margin-bottom:20px;
}

#filter ul {
    list-style: none;
}

#filter ul li {
    display:inline-block;
    padding:10px 20px;
}

.seperator {
    display:inline-block;
    top: 50%;
    transform: translateY(30%);
    height: 2em;
    border-right: 1px solid var(--grey);
}

.shop-dropdown {
    background: white;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition:all 0.5s ease;
    margin-top:0.5rem;
    display:none;
    width:175px;
    z-index:4;
    transform:translateX(-20px);
    border:solid var(--grey);
    border-width:0 1px 1px 1px;
}

#filter ul li:hover > ul,
.stop-dropdown:hover {
    visibility: visible;
    opacity: 1;
    display:block;
}

.shop-dropdown li {
	clear: both;
    width: 100%;
    padding:10px 20px !important;
    display:block !important;
}

.button {
    background-color:#fff;
    font-size:16px;
    cursor:pointer;
}

.checkbox {
    margin-right:7px;
    cursor:pointer;
}

.grid {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 300px;
	height: 200px;
	background: var(--lightgrey);
	text-align: center;
	cursor: pointer;
	margin-bottom: 3em;
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 1.5em;
	color: var(--orange);
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 240px;
	height: 140px;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h3 {
	word-spacing: -0.15em;
	font-weight:700;
}

.grid figure p {
	letter-spacing: 1px;
    font-weight:bold;
    font-size:18px;
}

/* Individual effects */

/*---------------*/
/***** Chico *****/
/*---------------*/

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid var(--orange);
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h3 {
	padding: 20% 0 20px 0;
}

figure.effect-chico p {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* ---------------------------------------------- /*
 * Product
/* ---------------------------------------------- */

.product-header {
    padding:20px;
}

#product {
    padding:20px 0;
}

#product-image {
    width:410px;
    height:310px;
    border:1px solid var(--grey);
    text-align:center;
    font-size:100px;
    color:dimgray;
}

#product-info {
    width:55%;
}

#product-info h2 {
    font-size:30px;
    font-weight:bold;
}

#product-info div {
    padding-bottom:20px;
}

#product-name-rating p {
    display:inline-block;
}

.rating {
    color:var(--orange);
    padding-left:20px;
}

#product-customisation p {
    display:inline-block;
}

#custom-btn {
    margin-left:50px;
    text-decoration:none;
    padding:5px 20px;
    font-size:14px;
}

#custom-btn:hover {
    background-color:var(--grey);
}

#swatches a {
    margin:0 7px 6px 0;
}

.swatch-dl {
    width:24px;
    height:24px;
    color:black;
}

.swatch-dt {
    width:24px;
    height:24px;
    border-radius:50%;
}

.selected {
    width:18px;
    height:18px;
    border:1px solid var(--orange);
    padding:2px;
    border-radius:50%;
}

.swatch-color {
    width:100%;
    height:100%;
    display:block;
    border-radius:50%;
}

.blue-swatch {
    background-color:blue;
}

.orange-swatch {
    background-color:orangered;
}

#swatches dd {
    display:none;
    border:0;
}

.text-color {
    position: relative;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    margin-bottom: 5px;
    border: 1px solid #cdcdcd;
    padding: 3px;
    border-radius: 5px;
    color: #4c5253;
    background: #fff;
    min-width: 30px;
}

.color-alt {
    position:absolute;
    text-align:center;
    left:-80px;
    right:-71px;
    top:-60px;
}

#product-table {
    margin-bottom:50px;
}

.tab-content {
    border:1px solid var(--grey);
    border-top: 0;
}

.tab-list {
    border-bottom: 1px solid var(--grey);
    padding-left: 0;
}

.tab-list-item {
    display:inline-block;
    list-style: none;
    margin-bottom:-1px;
    padding:1rem 1.5rem;
    border: solid var(--grey);
    border-width: 3px 1px 0 1px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:var(--lightgrey);
    margin-right:1px;
}

.tab-list-item:hover {
    cursor: pointer;
}

.tab-list-active {
    background-color: white;
    border-top:3px solid var(--orange);
}

.product-table {
    width:100%;
    padding:10px;
    font-size:14px;
    border-collapse:collapse;
}

.product-table th, td {
  text-align: left;
  padding: 8px;
}

.product-table tr:nth-child(even) {
    background-color:var(--lightgrey);
}

#customisation {
    padding:10px;
}

.review {
    padding:1em;
}

.name-rating {
    width:40%;
}

.name-rating p {
    font-size:18px;
}

.name-rating .rating {
    padding:0;
}

.review-message {
    background-color: var(--lightgrey);
    padding:1em;
}

/* ---------------------------------------------- /*
 * Invoice
/* ---------------------------------------------- */

.invoice-box {
    border: 1px solid var(--grey);
    border-radius:10px;
    border-top:3px solid var(--orange);
    margin:1.5em 0;
}

.invoice-box h3 {
    color:var(--orange);
}

.submit {
    padding:6px 12px;
}

.invoice-container {
    margin:10px 20px;
}

.invoice-half {
    width:45%;
}

.invoice-box table {
    width:100%;
    padding:10px;
    font-size:14px;
    border-collapse:collapse;
}

.invoice-box th, .invoice-box td {
    padding: 8px;
}

.invoice-box td {
    border-top:1px solid var(--grey);
}

.remove {
    width:30px;
    text-align:center;
}

.image {
    width:55px;
}

.image-image {
    height:55px;
    width:55px;
    background-color:lightgrey;
}

.product {
    text-align:left !important;
}

.product a {
    text-decoration:none;
    color:var(--orange);
}

.product a:hover {
    text-decoration:underline;
}

.color, .quantity, .unit, .total {
    width:15%;
    text-align:center;
}

.quantity-change {
    background-color:#f4f4f4;
    border:1px solid #c8bfc6;
    border-radius:2px;
    height:35px;
    width:35px;
}

.qty {
    width:45px;
    height:35px;
    text-align:center;
}

.shipping-input {
    border:1px solid var(--grey);
    border-radius:4px;
    padding:4px;
    width:90%;
    margin:4px 0;
}

.table-submit {
    float:right;
}

#total-table th, #total-table td {
    text-align:left;
    border-top:1px solid var(--grey);
}

/* ---------------------------------------------- /*
 * Contact
/* ---------------------------------------------- */

#contact-us > div {
    padding:20px;
}

form p {
    font-size:14px;
}

#message-info div {
    width:50%;
}

#message {
    margin-right:50px;
}

#contact-us input, textarea {
    border:1px solid lightgray;
    padding:5px;
    width:100%;
    margin:5px 0;
    border-radius: 4px;
}

#contact-us textarea {
    height:150px;
}

.red {
    color:red;
}

.half-width {
    width:50%;
}

.contact-info p {
    font-size:14px;
}

#map {
    height:150px;
    border-radius: 4px;
}

.location-info {
    padding:10px 20px;
    font-size:14px;
}

#contentful-img {
    height:30px;
    float:right;
}

/* ---------------------------------------------- /*
 * 404
/* ---------------------------------------------- */

#missing {
    text-align:center;
    padding:3em;
}

#missing-icon {
    font-size:150px;
    color:var(--grey);
}

.links {
    width:40%;
    margin:0 auto;
    padding-top:2em;
}

#missing a {
    background-color:var(--orange);
    padding:15px 40px;
    border-radius: 4px;
    font-size:16px;
    color:white;
    text-decoration:none;
    font-weight:bold;
}

#missing a:hover {
    background-color:var(--grey);
}
