:root {
    --orange:#d1582b;
    --grey:#bba69d;
}

.container {
    max-width:1024px;
    margin:0 auto;
}

.center {
    text-align: center;
}

.header {
    padding:30px 100px !important;
}

.header, #call-to-action {
    background-color:var(--orange);
    color:white;
    padding:50px;
    /*opacity:0.8;*/
}

.body {
    padding:20px;
    text-align:justify;
    font-size:14px;
}

.large-body {
    font-size:18px;
}

.separator {
    border-top:1px solid var(--grey);
}

.flex {
    display:flex;
}

#carousel {
    background-color:var(--grey);
    height:500px;
    width:100%;
}

#home-intro {
    padding:50px 0;
}

#home-intro h2 {
    font-weight:300;
    font-size:30px;
}

#home-intro p {
    padding-top:20px;
    line-height: 1.5rem;
}

#call-to-action div {
    margin:0 auto;
    width:25%;
    font-size:22px;
    font-weight:500;
}

.about-body {
    width:70%;
}

.about-body h2 {
    color:var(--orange);
    padding-bottom:10px;
}

#behind-scenes {
    background-color:var(--grey);
    padding:20px 100px;
    border-top: 5px solid var(--orange);
    height:200px;
    margin-right:50px;
    text-align:center !important;
}

#kangaroo-video {
    background-color:lightgray;
    height:300px;
    margin:20px;
}

#features {
    background-color:lightgray;
    text-align:left;
}

.feature {
    width:30%;
    padding:10px;
}

#features h3 {
    padding:10px 0;
}

#contact-us > div {
    padding:20px;
}

#contact-us input {
    border:1px solid lightgray;
    padding:5px;
    width:90%;
}

.half-width {
    width:50%;
}

.contact-info p {
    font-size:14px;
}

.location-info {
    padding:10px 20px;
}
